.Destination {
    background-image: url("./assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left top;
    background-size: cover;
    height: 100vh;
    color: #FAFAFA;
    padding-top: 50px;
}

.Destination-image-container {
    display: inline-block;
    max-width: 50vw;
    margin-top: 50px;
    text-align: center;
}


.Destination-decision {
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3px;
}

.Destination-image {
    margin-top: 50px;
    margin-left: 100px;
}

#Destination-span {
    color: #504f4f;
    font-size: 28px;
    font-weight: 800;
    margin-right: 15px;
}

.Destination-navigation-details {
    display: inline-block;
    max-width: 50vw;
    text-align: center;
    position:absolute;
    margin-top: 15vh;
    margin-left: 75px;
}


.Destination-links {
    text-decoration: none;
    color: #FAFAFA;
    margin-right: 20px;
    text-transform: uppercase;
}

.Destination-links:hover {
    text-decoration: none;
    color: #504f4f;
    font-size: 24px;
}


.Destination-info {
    display:inline-block;
    max-width: 450px;
    margin-left: 15%;
    text-align: left;
    margin-top: 15px;
}

.Destination-info-fact-container {
    margin-top: 45px;
    display:flex;
    justify-content: space-between;
}

.Destination-info-fact {
    text-transform: uppercase;
}

.Destination-info-fact-title{
    font-size: 24px;
}

#Destination-name {
    font-size: 96px;
}

#Destination-description {
    line-height: 2.5em;
}

.hr {
    width: 450px;
    height: 1px;
    background-color: #FAFAFA;
    margin-top: 50px;
}

@media screen and (max-width: 1000px) {
    .Destination-navigation-details {
        display: block;
        max-width: 100vw;
        position:relative;
        margin-top: 50px;
        margin-left: 0;
    }

    .Destination{
        height: 200vh;
    }
}

@media only screen and (max-width: 650px) {
    .Destination{
        padding: 0 20px;
    }

    .Destination-image{
        margin-left: 0;
    }

    .Destination-navigation-details {
        padding: 10px;
    }

    .Destination-info {
        margin-left: 0;
        margin-top: 15px;
        width: 375px;
    }

    .hr {
        width: 375px;
    }
     
    .Destination-info-fact-container {
        justify-content: space-around;
    }
}