.navLink-link {
    text-decoration: none;
    color: #FAFAFA;
    margin: 0 25px;
}

.navLink-link:hover {
    color: black;
    background-color: #FAFAFA;
    text-decoration: none;
}

.selected {
    height: 100px;
    padding: 0.5em;
    border-bottom: 3px solid #FAFAFA;
    padding-bottom: 15px;
}

.navbar {
    background-color: rgba(250,250,250,0.1);
    position: absolute;
    right: 0;
    top: 10%;
    height: 80px;
}

